*{
	margin: 0;
	padding: 0;
	font-family: "playfair display";
	b0x-sizing:border-box;
}



html,body{
	width: 100%;
	height:100%;
}

#back{
	display: flex;
	width: 100%;
	height:100vh;
	background-color: #f3f3f3;
}

#left{

   position: relative;
	overflow: hidden;

	width:70%;
	height: 100%;
	padding: 30px 40px;
	
}

nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
}

nav a{
	text-decoration:none;
	color:black;

}

nav a:nth-child(2){
	font size: 15px;
	opacity: 1;
	border-bottom: 2px solid black;
	margin-top:6px;
	padding-bottom: 4px;
}




#circle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% ,-50%);
	width: 700px;
	height: 700px;
	background-image:url("https://images.unsplash.com/photo-1497250681960-ef046c08a56e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Z3JlZW4lMjBsZWFmJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
	bakgorund-size:cover;
	border-radius:50%;
}


#smcircle{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 500px;
	height: 500px;
	background-color:white;
	border-radius: 50%;
}

#smcircle img{
	position: absolute;
	top:20%;
	left:-50%;
	width: 700px;
}

#vsmcircle{
	position: absolute;
	top: 50%;
	right:-3%;
	transform: translate(0,-50%);
	width: 140px;
	height: 140px;
	border:5px solid white;
	border-radius: 50%;
	background-image: url("https://images.unsplash.com/photo-1530728327726-b504480e42ec?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80");
	background-size: cover;
}

#vsmcircle i{
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	top:50%;
	left:50%;
	transform:translate(-50% ,-50%);
   width: 30px;
   height:30px;
   border-radius:50%;
   background-color: white;
}

#cart{
	position: absolute;
	bottom: 10%;
	left: 3%;
	font-size:22px;
	cursor: pointer;
}


#right{
	width:30%;
	height: 100%;
	padding:30px 40px;
	color:white;
	background-color: #222;
}

#right input{
	width:100%;
	padding:12px 32px;
	border-radius: 100px;
	outline: none;
	border:none;
	font-family: "Product Sans";
	color:white;
	background-color: #333;

}

#right h4{
	font-size: 22px;
	font-weight: 100;
	margin-top:40px;
	opacity: .7;
}

#prtimg{
	width:100%;
	height:270px;
	margin-top: 20px;
    background-position: center;
	background-image: url("https://media.istockphoto.com/id/584506250/photo/sun-parakeet.jpg?s=612x612&w=0&k=20&c=PqBe-WIqZht_GGAEXKH4y7H1GjgOLvVezfi__mM8F1o=");
	background-size: cover;
}

#right h3{
	font-size:27px;
	margin-top: 40px;
}

.elem{
	display: flex;
	width: 100%;
}
.elem h3{
	font-weight: 100;
   font-famlily:"product sans";


}

.elem>h3{
	margin-right: 90px;
   font-family:"product sans";
   font-size: 20px !important;

}

.elem .dets h3{
	font-size:20px !important;
}
.elem p{
	font-family:"product sans";
	opacity: .5;
	font-weight: 100;

}
